@import "tailwindcss";

@theme {
  --color-gold-50: #fffdf0;
  --color-gold-100: #fff8c2;
  --color-gold-200: #fff185;
  --color-gold-300: #ffe647;
  --color-gold-400: #fad50a;
  --color-gold-500: #d4af37;
  /* Base Gold */
  --color-gold-600: #a8831e;
  --color-gold-700: #866219;
  --color-gold-800: #714e1c;
  --color-gold-900: #61401f;
  --color-gold-950: #38210e;

  --font-display: 'Playfair Display', serif;
  --font-sans: 'Inter', system-ui, sans-serif;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}